# Koby Hass
## 03/10/2021
### Function in python continued

In [1]:
def full_name(fname, lname):
    return fname + " " + lname

In [2]:
full_name("Koby", "Hass")

'Koby Hass'

In [3]:
def prime(num):
    '''
    This Function checks if a number is a prime number
    '''
    for n in range(2,num):
        if num%n == 0:
            return str(num) + " number is not a prime number"
    else:
        return str(num) + " is not prime"
    
prime(15)

'15 number is not a prime number'

In [4]:
prime(7)

'7 is not prime'

In [5]:
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 != 0:
        return min(n1,n2)
    else: 
        return max(n1,n2)

In [6]:
min_two_odds(1,9)

1

In [7]:
min_two_odds(2,9)

9

In [8]:
min_two_odds(2,8)

8

In [9]:
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [10]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [11]:
two_words_letters('python program')

True

In [12]:
two_words_letters('java python')

False

In [13]:
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [14]:
two_words_letters("java program")

False

In [15]:
two_words_letters('python program')

True

In [16]:
def create_thirty(num1, num2):
    if(num1+num2) == 30:
        return True
    elif(num1) == 30:
        return True
    elif(num2) == 30:
        return True
    else:
        return False

In [17]:
create_thirty(10,20)

True

In [19]:
create_thirty(30,20)

True

In [20]:
create_thirty(10,30)

True

In [21]:
create_thirty(10,-15)

False

In [22]:
def create_thirty(num1,num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [23]:
create_thirty(10,20)

True

In [24]:
create_thirty(30,60)

True

In [25]:
create_thirty(10,30)

True

In [26]:
create_thirty(-10,-90)

False

In [28]:
w = 'programming'
w.capitalize()

'Programming'

In [29]:
w.upper()

'PROGRAMMING'

In [30]:
w[:3].capitalize()

'Pro'

In [31]:
str1 = 'i am home'
lst = str1.split()

In [32]:
lst

['i', 'am', 'home']

In [33]:
lst.reverse()
lst

['home', 'am', 'i']

In [35]:
def rv_stat(txt):
    lst = txt.split()
    lst.reverse()
    return " ".join(lst)

In [36]:
rv_stat("Hello how is it going today")

'today going it is how Hello'

In [38]:
def has_55(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == 5 and lst[i+1] ==5:
            return True
    
    return False

In [39]:
has_55([3,4,5,5,10])

True

In [40]:
has_55([3,4,5,6,7,89])

False

In [42]:
def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0)
        
    return len(code) == 1

In [43]:
check_code([19,25,35,2,85,5])

False

In [44]:
check_code([1,4,5,0,0,1,8])

True

In [45]:
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name("Lilith", "Luna")

Lilith Luna

In [48]:
def full_name(*name):
    
    if (len(name) == 1):
        print(name[0])
    else:
        print(name[0] + " " + name[1])
        
full_name('Lilith')

Lilith

In [49]:
full_name('lilith', 'debbie', 'luna')

lilith debbie

In [52]:
def sum_nums(a,b):
    return sum((a,b))

In [53]:
sum_nums(10,15)

25

In [54]:
def sum_nums(*n):
    return sum(n)

In [55]:
sum_nums(15)

15

In [56]:
sum_nums(10,15,9,36,25)

95

In [61]:
def my_kids(child1,child2,child3):
    print("my first kid is " + child1 + ' my second is ' + child2 + ' my third is ' + child3)

In [62]:
my_kids("larry",'dan', 'larry')

my first kid is larry my second is dan my third is larry

In [63]:
my_kids(child2 = 'dan', child1 = 'daniella', child3 = 'danny')

my first kid is daniella my second is dan my third is danny