# Koby Hass
## 3/16/2021
### lambda function in python

In [2]:
def double(num):
    return num * 2

print(double(3))

6

In [3]:
def square(x):
    return x**2

square(5)

25

In [4]:
double = lambda x:x*2

print(double(4))

8

In [5]:
larger = lambda a,b: a if a > b else b

print(larger(5,10))

10

In [6]:
nums = [1,2,3,4,5,6,7]

map(square,nums)

In [7]:
mylist = list(map(square,nums))

In [8]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [9]:
for item in map(square,nums):
    print(item)

1
4
9
16
25
36
49

In [10]:
def evenwords(w):
    if (len(w)%2 == 0):
        return "EVEN"
    else:
        return w[0:2]

In [12]:
evenwords("dodge")

'do'

In [13]:
evenwords("missed")

'EVEN'

In [22]:
words = ["mazda", "dodge", "chevrolet", "GMC", "Buggati"]

In [23]:
list(map(evenwords,words))

['ma', 'do', 'ch', 'GM', 'Bu']

In [24]:
map(lambda x:x**2, nums)

nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [25]:
list(map(lambda x:x**2, nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [26]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
list(map(lambda w:w[0], words))

['m', 'd', 'c', 'G', 'B']

In [28]:
list(map(lambda w:w[::-1],words))

['adzam', 'egdod', 'telorvehc', 'CMG', 'itagguB']

In [29]:
def even(num):
    return num%2 == 0

even(5)

False

In [30]:
even(8)

True

In [32]:
nums

filter(even,nums)

In [33]:
list(filter(even,nums))

[2, 4, 6, 8, 10, 12, 14]

In [34]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6, 8, 10, 12, 14]

In [36]:
names = ["Lilith", "Luna", "Harry", "Ronald", "Hermione","Othernames"]

In [37]:
names

['Lilith', 'Luna', 'Harry', 'Ronald', 'Hermione', 'Othernames']

In [38]:
names.sort(key = lambda n:len(n))

In [39]:
names

['Luna', 'Harry', 'Lilith', 'Ronald', 'Hermione', 'Othernames']