# Koby Hass
## 02/18/2021
### Python for loops

In [1]:
sc = [68, 24, 52, 69, 94, 51, 61, 100, 60]

In [2]:
sc

[68, 24, 52, 69, 94, 51, 61, 100, 60]

In [3]:
for n in sc:
    print(n)

68
24
52
69
94
51
61
100
60

In [4]:
4 % 2

0

In [5]:
5%2

1

In [6]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
24
52
94
100
60

In [7]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print("odd number")

68
24
52
odd number
94
odd number
odd number
100
60

In [10]:
for letter in 'I am a student at CSU':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

a
t

C
S
U

In [11]:
t = (1,5,6,48,5,9,15,91,91,6,61,8,1,56,1)

for n in t:
    print(n)

1
5
6
48
5
9
15
91
91
6
61
8
1
56
1

In [12]:
ls1 = [(10,20), (20,60), (60,80),(20,90)]

In [13]:
ls1

[(10, 20), (20, 60), (60, 80), (20, 90)]

In [14]:
for t in ls1:
    print(t)

(10, 20)
(20, 60)
(60, 80)
(20, 90)

In [15]:
for (t1,t2) in ls1:
    print(t1)

10
20
60
20

In [16]:
d = {"brand": "ford", "model": "Mustand", "year": 1964}

In [17]:
d

{'brand': 'ford', 'model': 'Mustand', 'year': 1964}

In [18]:
for item in d:
    print(item)

brand
model
year

In [19]:
d.items()

dict_items([('brand', 'ford'), ('model', 'Mustand'), ('year', 1964)])

In [20]:
d.keys

In [21]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [22]:
for k,v in d.items():
    print(k)
    print(v)

brand
ford
model
Mustand
year
1964

In [23]:
for v in d.keys():
    print(k)

year
year
year

In [24]:
for tup in d.items():
    print(tup)

('brand', 'ford')
('model', 'Mustand')
('year', 1964)

In [25]:
sorted([5,6,7,8,9])

[5, 6, 7, 8, 9]

In [26]:
d1 = {"k1": 5, "k2":3, "k6": 29}

In [27]:
d1.values()

dict_values([5, 3, 29])

In [28]:
sorted(d1)

['k1', 'k2', 'k6']

In [ ]:
fruits = ["Apples", "Cherries", "Bananas"]

for f in fruits:
    print(f)