# Koby Hass
## 2/25/2021
### Python list comprehension

In [3]:
lst = []

for letters in 'hello':
    lst.append(letters)
    
lst

['h', 'e', 'l', 'l', 'o']

In [4]:
lst = [letter for letter in 'hello']

In [5]:
lst

['h', 'e', 'l', 'l', 'o']

In [6]:
lst2 = [n**2 for n in range(0,11)]

In [7]:
lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
lst3 = [n for n in range(100) if n % 2 == 10]

In [10]:
lst3

[]

In [11]:
lst4 = [n for n in range(11) if n % 2 !=0]

In [12]:
lst4

[1, 3, 5, 7, 9]

In [15]:
lst5 = [n for n in range(101) if n % 2 == 0 if n % 5 == 0]

In [16]:
lst5

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
lst6 = ['Even' if n % 2 == 0 else 'odd' for n in range(11)]

In [18]:
lst6

['Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even']

In [19]:
c_list = [4,10,5,0,52,0,52,5,4,6,5,8,686,95,6,5,82,89,6,58,99,92,9,65,2,69]

f_list = [((9/5)*t +32 )]